<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1><%=  t('overskrifter.database_eksport') %></h1>

<p>
  <%= t('tekst.database_eksport') %>
</p>

<p>
  <ul id="db_liste">
    <% @db_dumps.each do |file, path| %>
      <li><a href="<%=  path %>"><%= file %></a></li>
    <% end %>
  </ul>
</p>
