/* This file needs to be saved in the UTF-8 format in order to handle EditMenuName attributes with non-english characters */

/* --- Divs used for page structure ---*/

#containerdiv
{
	width: 78em;
	margin: 1em;
	text-align: left;
}
#headerdiv
{
	text-align: center;
	display: block;
}
#quickmenudiv
{
	position:relative; 
	margin-top: -5em; 
	margin-right: 3px; 
	float: right; 
	text-align: right;
	width: 50%;
}
#leftmenudiv
{
	width: 22%;
	float: left;
	text-align: left;
	background-color: #Ffffff;
}
#mainareadiv
{
	float: left;
	text-align: left;
}
.normalwidth
{
	width: 72%;
}
#rightmenudiv
{
	width: 26%;
	float: right;
	text-align: left;
	margin-right:0.5em;
	margin-top: -2.1em;
}
#rightListingBox
{
	border: solid #F0E5CE 0.1em;
	background-color: #F0F0F0;
}

img
{
	border: 0;
}
body
{
	background-color: #F0F0F0;
}
#topmenudiv
{ 
	background-image: url(../images/topmenubg.gif);
	text-align: left;
	display: block;
	margin-bottom:0.3em;
	height: 2.3em;
}
#topmenucontrol
{
	margin-top: 0em;
	padding: 0.4em 0em 0.3em 0.4em;
	width: 100%;
	font-size: 1.1em;
	font-family: Verdana, Arial, Tahoma, ;
}
#contentdivStartPage
{
	width: 100%;
	float: right;
	background-color: #FFFFFF;
}
.startpagewidth
{
	width: 67%;
}

#rightmenudivStartPage
{
	width: 29%;
	float: right;
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

#quickbar
{
	text-align: right;
}
#footerdiv
{
	background-image: url(../images/footer_gradient.gif);
	float: right;
	width: 100%;
	height: 2.1em;
}
div.footercornerdiv
{
	float:left; 
}
img.footercornerimage 
{
	height: 2.1em;
}
#footermaindiv
{
	width: 76.8em; 
	float:left; 
	padding-top: 0.5em;
	height: 2.1em;
}
#footerleftdiv
{
	width: 33%; 
	float: left; 
	text-align: left;
}
#footermiddlediv
{
	width: 33%; 
	float: left; 
	text-align: center;
}
#footerrightdiv
{
	width: 33%; 
	float: left; 
	text-align: right;
}
#maincontainerdiv
{
	padding-top: 1em;
	padding-bottom: 3em;
	padding-left:1em;
	float: right;
	background-color: #FFFFFF;
}
#contentdiv
{
	width: 77%;
	float: right;
}
#topmenu
{
	margin-top: 1.7em;
	padding: 0.4em 0em 0.3em 1em;
	width: 100%;
}
#quicksearchdiv
{
	height: 2.9em;
}
#cookielink
{
	border-width: 0.1em 0em;
	border-style: solid;
	border-color: #ddd;
	padding: 0.5em 0em;
	margin-top: 1em;
	display: block;
}
/* -- Standard divs --*/

.leftfloating
{
	float: left;
}
.rightfloating
{
	float: right;
}
.centered
{
	text-align: center;
}
.rightaligned
{
	text-align: right;
}
.leftaligned
{
	text-align: left;
}
.hidden
{
	display:none;
}
img.borderless
{
	border: 0;
}
div.tablerow
{
	width: 99%;
	padding: 0.5em;
}
div.description
{
	float: left;
	width: 20%;
}
div.content
{
	float: right;
	width: 79%;
}
div.fullwidth
{
	width: 100%;
}
