/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
      
-------------------------------------------------------------- */

/* Default font settings. */
body { 
  color: #666; 
  background-color: #EAEAE8;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1 {
	color: #333;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

h2,h3,h4,h5,h6 { font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #666; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; } 


/* farge koder */
.element_Fag a, .kompetansemaal_detaljer_fag {
    padding-left: 24px;
    background: url('../images/f.png');
    background-repeat: no-repeat;
}
.element_Laereplan a, .kompetansemaal_detaljer_laereplaner {
    padding-left: 24px;
    background: url('../images/l.png');
    background-repeat: no-repeat;
}
.element_Hovedomraade a, .kompetansemaal_detaljer_hovedomraader{
    padding-left: 24px;
    background: url('../images/h.png');
    background-repeat: no-repeat;
}
.element_Kompetansemaalsett a, .kompetansemaal_detaljer_kompetansemaalsett {
    padding-left: 24px;
    background: url('../images/ks.png');
    background-repeat: no-repeat;
}
.kompetansemaal_detaljer_hovedomraader, .kompetansemaal_detaljer_kompetansemaalsett, .kompetansemaal_detaljer_laereplaner, .kompetansemaal_detaljer_fag {
    padding-bottom: 5px;
}

#brodsmulesti
{
    margin: 1em 0 1em 0;
}

#ingen_db_dump {
    text-size: 1.1em;
    color: red;
    font-weight: bold;
}

/* Lists
-------------------------------------------------------------- */

ul          { list-style-type: none; }
/*li          { padding: 0em 0em 0em 1em; }*/
ol          { list-style-type: decimal; }

dl          { margin: 10px 0; }
dl dt       { font-weight: bold;}
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

/*table       { margin-bottom: 1.4em; width: 100%; }*/
th          { font-weight: bold; }
th,td       { padding: 4px 10px 4px 5px; }
tr.even td  { background: #E5ECF9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

/*Styles for kompetansesok*/

div#container {
	width: 920px;
	margin: 20px auto;
	background-color: #FFF;
	padding: 20px;
}

div#branding_bar {
	height: 40px;
	background: #F47936 url(../images/searchBackground.gif) no-repeat fixed top right;
}

div#nav_container {
	background-color: #DFDFDF;
	margin: 10px 0px;
	text-align: right;
}

div#spraak {
	text-align: right;
	padding: 8px 8px 0 0;
}

div#resultater {
  padding: 1.5em 0em
}

div.delresultat {
  padding: 1em 0em
}

ul#nav_list {
  list-style-type: none;
  overflow: auto;
  font-weight: bold;
}

ul#nav_list li {
  float: right;
}

ul#nav_list li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}
ul#nav_list li a:hover {
  background-color: #999;
  color: #FFF;
  border-top: 2px solid #333;
  padding-top: 3px;
}

select {
  width: 30em;
}

form#laereplan_sok label {
	font-weight: bold;
}

form#laereplan_sok input, form#laereplan_sok select {
	width: 200px;
	margin-bottom: 10px;
}

form#laereplan_sok input.submit {
	width: 60px;
}

select#spraak_valg {
	width: 10em;
}

td.x-grid3-td-2 {
    overflow: hidden;
}
td.x-grid3-td-3 div.x-grid3-cell-inner {
    white-space: normal;
}

.kompetansemaal_detaljer {
    padding-left: 10px;
}

ul.sok_filtere {
	margin-top: 5px;
}

ul.sok_filtere li {
	display: inline;
	font-size: 0.8em;
}

div.sok_input {
	margin: 20px 0;
	text-align: center;
}

input#q {
	width: 450px;
}


/*----------------- informasjon style -------------*/

span.enhet-overskrift
{

}

h3.tittel
{
  font-size: 2.2em;
  margin-bottom: -2px;
  margin-top: -10px;
}

span.benevning
{
  color: #aaaaaa;
  font-size: .8em;
  padding-left: 1.1em;
}

span.uuid, span.kode
{
  padding-left: 7px;
  color: #333333
}


ul.linke-liste
{
  margin-bottom: 1em;
}

#kompetansemaal_liste
{
    margin-bottom: 1em;
}

/*----------------- extjs style -------------*/

.x-grid3 {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.x-grid3-header {
  display:none;
}

.x-panel-header {
  display:none;
}

.x-tip {
	border: 1px solid #999;
	padding: 5px;
	font-size: 0.7em;
	background-color: #FBB88B;
	color: #000;
}
