<% if @brodsmulesti %>
  <div id="brodsmulesti">
    <%= t('etiketter.du_er_her')%>:
    <%= @brodsmulesti.map do |element|
       "<span class='element_#{element.class}'>#{element.tittel}</span>"
     end.join(" &#187; ") %>
  </div>
<% end %>