<% if @brodsmulesti %>
  <ol id="brodsmulesti">
    <%= n = @brodsmulesti.length ; i = 0; @brodsmulesti.map do |element|
       i += 1
       inner = if(i != n)
         "<a href='#{element[:url]}'>#{element[:tittel]}</a>"
       else
         "<h1>#{element[:tittel]}</h1>"
       end
       %{<li><span class="ikon ikon_#{element[:klasse]}">#{element[:ikon_tekst]}</span> #{inner}</li>"}
     end.join("") %>
  </ol>
<% end %>