<% if @brodsmulesti %>
  <div id="brodsmulesti">
    <%= @brodsmulesti.map do |element|
       "<span class='element_#{element[:klasse]}'><a href='#{element[:url]}'>#{element[:tittel]}</a></span>"
     end.join(" &#187; ") %>
  </div>
<% end %>