<h1>Listing kompetansemaalsett</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Tittel</th>
  </tr>

<% for kompetansemaalsett in @kompetansemaalsett %>
  <tr>
    <td><%=h kompetansemaalsett.uuid %></td>
    <td><%=h kompetansemaalsett.tittel %></td>
  </tr>
<% end %>
</table>

<br />

