<div id='sidetopp'>
  <%= render :partial => 'kompetansemaal/selected_kompetansemaal' %>
</div>

<div id='resultater'>  
  <div id="kompetansemaal_treff">
    <h3><%= t('overskrifter.kompetansemål') %></h3>
    <%=  render :partial => "kompetansemaal/simple_grid" %>
  </div>
</div>

<p/>

<%= render :partial => 'common/back_button' %>