<h1>Vi kompetansemål for en læreplan</h1>
<%= label('laereplan_sok', 'Læreplan:') %>
<input id="laereplan_sok" class="ac" value="<%= @laereplan ? @laereplan.tittel : '' %>"/>
  <ul style="display:none">
    <% @laereplaner.each do |laereplan| %>
      <li><%= link_to laereplan.tittel, laereplan_path(laereplan) %></li>
    <% end %>
  </ul>

<script type="text/javascript">
var hrefs = {}
var texts = $('a').map(function() { 
  hrefs[this.text] = this.href;
  return this.text;
});
$('input#laereplan_sok').autocomplete(texts, {
  minChars: 0,
  matchContains: true,
  mustMatch: true,
  max: 1000
}).result(function(event, data, formatted){
  document.location = hrefs[data];
});
</script>
