<p>
  <b>Kode:</b>
  <%=h @laereplan.kode %>
</p>

<p>
  <b>Tittle:</b>
  <%=h @laereplan.tittle %>
</p>


<%= link_to 'Edit', edit_laereplan_path(@laereplan) %> |
<%= link_to 'Back', laereplaner_path %>
