<p>
  <b>Uuid:</b>
  <%=h @hovedomraade.uuid %>
</p>

<p>
  <b>Kode:</b>
  <%=h @hovedomraade.kode %>
</p>

<p>
  <b>Tittel:</b>
  <%=h @hovedomraade.tittel %>
</p>

<%= render :partial => 'common/back_button' %>