<script type="text/javascript">
  var kompetansemaalRader = <%= @rader.to_json %>

  Ext.onReady(function(){
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
    
    // create the data store
    var store = new Ext.data.SimpleStore({
      fields: [
        {name: 'laereplan'},
        {name: 'hovedomraade'},
        {name: 'kompetansemaalsett'},
        {name: 'trinn'},
        {name: 'kompetansemaal_kode'},
        {name: 'kompetansemaal'}
      ]
    });
    store.loadData(kompetansemaalRader);

    // create the Grid
    var grid = new Ext.grid.GridPanel({
      store: store,
      columns: [
        {header: "Læreplan", sortable: true, dataIndex: 'laereplan'},
        {header: "Hovedomrade", sortable: true, dataIndex: 'hovedomraade'},
        {header: "Kompetansemålsett", sortable: true, dataIndex: 'kompetansemaalsett'},
        {header: "Trinn", sortable: true, dataIndex: 'trinn'},
        {header: "Kompetansemaalkode", sortable: true, dataIndex: 'kompetansemaal_kode'},
        {header: "Kompetansemål", sortable: true, dataIndex: 'kompetansemaal'}
        ],
        stripeRows: true,
        height: 500,
        title:'Kompetansemål'
      });

      grid.render('grid-example');
      grid.getSelectionModel().selectFirstRow();

      // action listenre
      grid.addListener
      (
        'keydown', 
        function(evnt)
        {
          var keyPressed = evnt.getKey();

          if (evnt.ctrlKey) {
            /*
            * ctrl+c combination is code 67 
            */
            if (keyPressed == 67)
              {
                var str = "";

                var allCols = grid.getColumnModel().getColumnsBy(
                  function (columnConfig, index) {
                    return true;
                  }
                );

                var selRecords = grid.getSelectionModel().getSelections();

                for ( rec = 0; rec < selRecords.length; rec++)
                  {
                    for (col = 0; col< allCols.length; col++)
                      {
                        var colIdxName = "";
                        colIdxName += allCols[col].dataIndex;
                        /* Excel needs a tab in between columns */
                        str +=  selRecords[rec].get(allCols[col].dataIndex) + "\t";
                      }
                      str = str + "\n";
                    }
                    copy(str);
                  }
                }
              }
            );
        //end of action listener
    
    });
      
 </script>

<link rel="stylesheet" type="text/css" href="http://extjs.com/deploy/dev/examples/grid/grid-examples.css"/>
<link rel="stylesheet" type="text/css" href="http://extjs.com/deploy/dev/examples/grid/../shared/lib.css" />
<link rel="stylesheet" type="text/css" href="http://extjs.com/deploy/dev/examples/grid/../../resources/css/ext-all.css" />

<div id="grid-example" style="height: 500px"> </div>

<%= will_paginate @kompetansemaal %>