<div id="kompetansemaal_treff" class="uthevet">
  <h2 class='kompetansemaal'><%= t('overskrifter.kompetansemål') %></h2>
  <p id="søk_hjelpetekst"><%= t('etiketter.kompetansemål_hjelpe_tekst') %></p>
  <%=  render :partial => "kompetansemaal/simple_grid" %>
</div>