<script type="text/javascript">
  var valgte_kompetansemaal = []
  var valgte_kontroller = null;

  Ext.onReady(function(){
    valgte_grid = document.getElementById("valgte_kompetansemaal");
    valgte_kontroller = new ValgteKompetansemaal();
    valgte_grid.valgte_kompetansemaal = valgte_kontroller ;

    initButtons()
  });

  function initButtons(){
    document.getElementById("showIdCheckbox").checked = valgte_kontroller.showId;
    document.getElementById("showKodeCheckbox").checked = valgte_kontroller.showKode;
    document.getElementById("showPsiCheckbox").checked = valgte_kontroller.showPsi;
  };

  function addUuidsToForm(form){
    uuids = [];
    for(i in valgte_kontroller.data){
      if(valgte_kontroller.data[i] != null && valgte_kontroller.data[i] != undefined){
        uuids = uuids.concat(valgte_kontroller.data[i]['kompetansemaal_uuid'])
      }
    }

    form.uuids.value = uuids;
  };


</script>

<div id="valgte_kompetansemaal" style="height: 500px; width:100%;">


  <% form_tag download_csv_sok_path, :method => :post  do  %>
    <table style="width:250px;border:1px solid black;" >
      <tr>
        <th class="valgte_header">Valgte kompetansemål</th>
      </tr>
      <tr>
        <td>
          <label for="showIdCheckbox">Vis uuid:</label><input id="showIdCheckbox" name="showId" type="checkbox"  onChange="valgte_kontroller.toggleShowId(this.checked)"/>
          <label for="showKodeCheckbox">Vis kode:</label><input id="showKodeCheckbox" name="showKode" type="checkbox" onChange="valgte_kontroller.toggleShowKode(this.checked)"/>
          <label for="showPsiCheckbox">Vis Psi:</label><input id="showPsiCheckbox" name="showPsi" type="checkbox" onChange="valgte_kontroller.toggleShowPsi(this.checked)"/>
        </td>
      </tr>
      <tr>
        <td class="valgte_body"><textarea id="valgte_tekst" cols="43" rows="14"></textarea></td>
      </tr>
      <tr>
        <td>
          <%= hidden_field_tag "uuids" %>
          <%= submit_tag t('knapper.eksport_csv'), :onclick => "addUuidsToForm(this.form)" %>
        </td>
      </tr>
    </table>

  <% end %>
</div>




