<script type="text/javascript">
  var valgte_kompetansemaal = []

  Ext.onReady(function(){
    valgte_grid = document.getElementById("valgte_kompetansemaal");

    valgte_grid.showId = true;
    valgte_grid.showKode = true;
    valgte_grid.showPsi = true;

  });
 </script>

<div id="valgte_kompetansemaal" style="height: 500px; width:100%;">
  <table style="width:250px;border:1px solid black;" >
    <tr>
      <th class="valgte_header">Valgte kompetansemål</th>
    </tr>
    <tr>
      <td>
        <label for="showIdCheckbox">Vis uuid:</label><input id="showIdCheckbox" type="checkbox" checked="showId()" onChange="toggleShowId(this.checked)"/>
      </td>
    </tr>
    <tr>
      <td class="valgte_body"><textarea id="valgte_tekst" cols="43" rows="14"></textarea></td>
    </tr>
  </table>
</div>



