<div id="kompetansemaal" style="height: 300px; width: 520px; padding-left:1.1em;"> </div>


<script type="text/javascript">
  var kompetansemaalRader = <%= @kompetansemaal_treff.to_json %>;

  Ext.onReady(function(){
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

    // create the data store
    var store = new Ext.data.SimpleStore({
      fields: [
        {name: 'kompetansemaal_uuid'},
        {name: 'kompetansemaal_kode'},
        {name: 'kompetansemaal_tittel'}
      ]
    });
    store.loadData(kompetansemaalRader);

    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id: 'kompetansemaal_grid',
      store: store,
      columns: [
        {header: "<%= t('etiketter.uuid')%>", hidden: true, dataIndex: 'kompetansemaal_uuid'},
        {header: "<%= t('etiketter.kode')%>", hidden: true, dataIndex: 'kompetansemaal_kode'},
        {header: "<%= t('etiketter.tittel')%>", width: 500, sortable: true, resizable: false, menuDisabled: true, dataIndex: 'kompetansemaal_tittel'}
      ],
      stripeRows: true,
      height: 300,
      title:'Kompetansemål'
    });

    grid.on({'click': function(){
        importAndDisplaySelectedKompetansemaal()
      }
    });

    grid.render('kompetansemaal');

  });

</script>
