<p>
  <b>Uuid:</b>
  <%=h @laereplan.uuid %>
</p>

<p>
  <b>Kode:</b>
  <%=h @laereplan.kode %>
</p>

<p>
  <b>Tittel:</b>
  <%=h @laereplan.tittel %>
</p>

<%= render :partial => 'common/back_button' %>
