<h1><%= t('overskrifter.kompetansemål_søk') %></h1>
<p>
<%= t('tekst.info') %>
</p>
<div id="videre_info">
<%= link_to t('navigasjon.ofte_stilte_spørsmål'), :action => 'faq' %>
<%= link_to t('navigasjon.statistikk'), :action => 'statistikk' %>
</div>