<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag('jquery-1.2.6.min', 'jquery.autocomplete.min') %>
    <%= stylesheet_link_tag('screen') %>
    <title>Kompetansesøk</title>
  </head>
  <body>
	<div id="container">
	  <div id="header">
	  	<img src="/images/logo.gif" alt="udir logo">
	  </div>
	  <div id="branding_bar">
		<img src="/images/searchBackground.gif" alt="backgroung image">
	  </div>
	  <div id="nav_container">
	  	<ul id="nav_list">
		  <li><a href="#">Søk 1</a></li>
		  <li><a href="#">Søk 2</a></li>
		  <li><a href="#">Søk 3</a></li>
		  <li><a href="#">Avansert søk</a></li>
		</ul>
	  </div>
	  <div id="content">
	    <%= yield %>
	  </div>
	</div>
  </body>
</html>